body {
    margin: 0;
    font-family: inter;
}

#main {
    background-color: #FFCD9E;
    height: 70vh;
    margin: 0;
    display: flex;
    justify-content: space-around;
    position: static;
}

.content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.content-item {
    width: 75%;
}

.content-item h1 {
    font-weight: 700;
    font-size: 36px;
}

.details {
    color: #484848;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    margin: 10px 0;
}

.content-item.item3 {
    font-size: 20px;
    font-weight: 800;
}

#email-container {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: end;
}

#email-input {
    color: #888888;   
    border: 4px solid #000000;
    border-radius: 8px; 
    padding: 15px;
    font-weight: 600;
    font-size: 20px;
    box-sizing: border-box;
    width: 60%;
}

#email-button {
    width: 40%;
    color: white;
    background-color: #282828;
    border: 4px solid #282828;
    border-radius: 8px;
    padding: 15px;
    font-weight: 600;
    font-size: 20px;
}

.tag-line {
    font-size: 1rem;
    color: white;
    width: 60%;
    text-align: center;
    margin: 10px 0;
}

.main-image {
    width: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.main-image img{
    margin: 0;
    height: 105%;
}

#footer {
    color: white;
    background: #282828;
    height: 30vh;
    display: flex;
    justify-content: space-around;
}

ul {
    font-size: 20px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    font-weight: 400;
}

#more-options {
    align-items: start;
}

#contact-info {
    align-items: end;
}

li {
    list-style-type: none;
}
